block variables
doctype html
head
  link(rel='stylesheet' href='reportdata.css')
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Countries and cities!
form
  div
    input#mySearch(type='search' name='q' placeholder='Search the country' required='')
    button Search
    span.validity
form
  div
    input#mySearch(type='search' name='q' placeholder='Search the city...' required='')
    button Search
    span.validity