doctype html
html
  head
    // Add information about the character encoding
    meta(charset='utf-8')
    // Add title
    title Languages
    // Add style elements
    style.
      body {margin: 25px; background-color: black; color: white;}
      h1 {color: rgb(0, 255, 13); font-size: 50px; font-family: 'Arial Black'; text-align: left; margin-top: 65px; margin-left: 68px; margin-bottom: 50px;}
      img {display: block; margin-left: auto; margin-right: auto;}
      h2 {color: rgb(0, 255, 13); margin-left: 50px; margin-top: 80px; font-size: 25px; font-family: Oswald, sans-serif;}
      .Footer {background: rgb(30, 30, 35); margin: 35px; font-size: 20px; opacity: 68%;}
      .List {text-align: left;}
  body(style= 'background-image: url(https://wallup.net/wp-content/uploads/2019/09/45440-earth-black-planet-lights-night.jpg); background-repeat: no-repeat;')
    // Division for image
    h1 MOST POPULAR LANGUAGES
    // Division for paragraph and languages list
    .List
      div(style='margin-left: 15px; font-size: 20px;')
        p(style='text-align: left; margin-left: 75px; font-size: 25px; font-family: Oswald, sans-serif; letter-spacing: 1px')
            b Find out which languages are the most popular in the world.
        p(style='font-size: 20px; text-align: left; margin-left: 225px; letter-spacing: 5px') Check how many people speak them.
        section.container
          h2 Languages Of The World
          input.light-table-filter(type='search' data-table='order-table' placeholder='Filter' style='margin-left: 50px')
          table.order-table.table(style= 'margin-top: 25px; width: 50%; background-color: black; opacity: 65%; font-size: 25px; margin-left: 50px')
            thead
              th= Language
              th= Percentage
            tbody
              for language in languagesList
                tr
                  td= language.Language
                  td= language.Percentage

    // Footer with information about the author
    .Footer
      footer
        div(style= 'margin: 15px')
          br
          p Author: Barbara Anna Kobak
          br
