doctype html
html
  head
    // Add information about the character encoding
    meta(charset='utf-8')
    // Add title
    title Languages
    // Add style elements
    style.
      body {margin: 25px; background-color: black; color: white;}
      h1 {color: rgb(0, 255, 13); font-size: 50px; font-family: 'Oswald', sans-serif;}
      img {display: block; margin-left: auto; margin-right: auto;}
      .List {border: 5px outset white; text-align: left;
  body
    // Division for image
    div(style='text-align: center')
      h1 MOST POPULAR LANGUAGES
    br
    // Division for paragraph and languages list
    .List
      div(style='margin-left: 15px; font-size: 20px;')
        p
          b You can check here what languages are most used and how many people speak them.
        ul
          li Chinese
          li English
          li Hindi
          li Spanish
          li Arabic

    // Footer with information about the author
    footer(style='margin-top: 50px; font-size: 18px')
      p ________________________
      p Author: Barbara Anna Kobak
