doctype html
head
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap' rel='stylesheet')
  style.
    body {
    background-image: url(https://wallpaperaccess.com/full/1240059.jpg);
    }
    h1 {font-size: 110px;}
    h1 {text-align: center;}
    h1 {font-family: 'Oswald', sans-serif;}
    h1 {color:rgb(255, 255, 255);}
    a {text-align: left;}
    p {color:rgb(0, 255, 13);}
    p {font-family: 'Oswald', sans-serif;}
    p {font-size: 26px;}
    p {text-align: left;}
h1 Global Data Finder
p
  | This website can be used to find statistics from countries and cities all around the world
a(href='https://imgbb.com/')
  img(src='https://i.ibb.co/d7Twn8n/PLEDGE.jpg' alt='PLEDGE' border='0')
