doctype html
head
  // Add information about the character encoding
  meta(charset='utf-8')
  // Add title
  title Languages
  // Add margin for the body, colour the header, add auto marging for image and border for class List
  style.
    body {margin: 25px;}
    h1 {color: midnightblue;}
    img {display: block; margin-left: auto; margin-right: auto;}
    .List {border: 3px outset black; text-align: left;}
// Division for image
div(style='text-align: center')
  h1 The most popular languages
  a(data-flickr-embed='true' data-header='true' title='flags')
    img(src='https://live.staticflickr.com/5519/30968917131_a7b74cb688_4k.jpg' width='1450' height='600' alt='flags')
br
// Division for paragraph and languages list
.List
  div(style='margin-left: 15px;')
    p
      b You can check here what languages are most used and how many people speak them.
    ul
      li Chinese
      li English
      li Hindi
      li Spanish
      li Arabic
// Footer with information about the author
footer(style='margin-top: 50px;')
  p Author: Barbara Anna Kobak