doctype html
head
  title  Countries 
  style.
    h1 {color:blueviolet;}
.background-color(id='' style='width: 100%;')
  #left.col-md-3.justify.margin.left
    .panel(style='box-shadow: 0 0px 4px rgba(0, 0, 0, .5);')
      // <div class="panel-heading orange font-weight" style="border-bottom: 1px solid #eee;">WE ARE OFFERING</div>
      .panel-body
        p
          span
            i.fa.fa-play.orange(aria-hidden='true')
        h1 The Countries
        p this page it represent the Countries of the continent, region and the country.
        p
          | this page it represent the Countries of the continent, region and the country living in cities.
        p
          | this page it represent the Countries of the continent, region and the country not living in cities.
.background-color(id='' style='width: 100%;')
  #left.col-md-3.justify.margin.left
    .panel(style='box-shadow: 0 0px 4px rgba(0, 0, 0, .5);')
      // <div class="panel-heading orange font-weight" style="border-bottom: 1px solid #eee;">WE ARE OFFERING</div>
      .panel-body
        p
          span
            i.fa.fa-play.orange(aria-hidden='true')
        h1 The Cities
        p this page it represent the Cities of the continent, region and the country.
        p
          | this page it represent the Cities of the continent, region and the country living in cities.
        p
          | this page it represent the Cities of the continent, region and the country not living in cities.
