-- MySQL dump 10.13  Distrib 8.0.28, for Linux (x86_64)
--
-- Host: localhost    Database: world
-- ------------------------------------------------------
-- Server version	8.0.28

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Temporary view structure for view `africa_descending_countries`
--

DROP TABLE IF EXISTS `africa_descending_countries`;
/*!50001 DROP VIEW IF EXISTS `africa_descending_countries`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `africa_descending_countries` AS SELECT 
 1 AS `Name`,
 1 AS `Population`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `antarctica_descending_countries`
--

DROP TABLE IF EXISTS `antarctica_descending_countries`;
/*!50001 DROP VIEW IF EXISTS `antarctica_descending_countries`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `antarctica_descending_countries` AS SELECT 
 1 AS `Name`,
 1 AS `Population`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `asia_descending_countries`
--

DROP TABLE IF EXISTS `asia_descending_countries`;
/*!50001 DROP VIEW IF EXISTS `asia_descending_countries`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `asia_descending_countries` AS SELECT 
 1 AS `Name`,
 1 AS `Population`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `capital_city_report`
--

DROP TABLE IF EXISTS `capital_city_report`;
/*!50001 DROP VIEW IF EXISTS `capital_city_report`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `capital_city_report` AS SELECT 
 1 AS `Name`,
 1 AS `Population`,
 1 AS `Country`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `city`
--

DROP TABLE IF EXISTS `city`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `city` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Name` char(35) NOT NULL DEFAULT '',
  `CountryCode` char(3) NOT NULL DEFAULT '',
  `District` char(20) NOT NULL DEFAULT '',
  `Population` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`ID`),
  KEY `CountryCode` (`CountryCode`),
  CONSTRAINT `city_ibfk_1` FOREIGN KEY (`CountryCode`) REFERENCES `country` (`Code`)
) ENGINE=InnoDB AUTO_INCREMENT=4080 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `city`
--

LOCK TABLES `city` WRITE;
/*!40000 ALTER TABLE `city` DISABLE KEYS */;
/*!40000 ALTER TABLE `city` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `city_report`
--

DROP TABLE IF EXISTS `city_report`;
/*!50001 DROP VIEW IF EXISTS `city_report`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `city_report` AS SELECT 
 1 AS `Name`,
 1 AS `District`,
 1 AS `Population`,
 1 AS `Country`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `continent_population_report`
--

DROP TABLE IF EXISTS `continent_population_report`;
/*!50001 DROP VIEW IF EXISTS `continent_population_report`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `continent_population_report` AS SELECT 
 1 AS `ContinentName`,
 1 AS `ContinentPopulation`,
 1 AS `%_of_PopulationLivingInCities`,
 1 AS `%_of_PopulationNotLivingInCities`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `country`
--

DROP TABLE IF EXISTS `country`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `country` (
  `Code` char(3) NOT NULL DEFAULT '',
  `Name` char(52) NOT NULL DEFAULT '',
  `Continent` enum('Asia','Europe','North America','Africa','Oceania','Antarctica','South America') NOT NULL DEFAULT 'Asia',
  `Region` char(26) NOT NULL DEFAULT '',
  `SurfaceArea` decimal(10,2) NOT NULL DEFAULT '0.00',
  `IndepYear` smallint DEFAULT NULL,
  `Population` int NOT NULL DEFAULT '0',
  `LifeExpectancy` decimal(3,1) DEFAULT NULL,
  `GNP` decimal(10,2) DEFAULT NULL,
  `GNPOld` decimal(10,2) DEFAULT NULL,
  `LocalName` char(45) NOT NULL DEFAULT '',
  `GovernmentForm` char(45) NOT NULL DEFAULT '',
  `HeadOfState` char(60) DEFAULT NULL,
  `Capital` int DEFAULT NULL,
  `Code2` char(2) NOT NULL DEFAULT '',
  PRIMARY KEY (`Code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `country`
--

LOCK TABLES `country` WRITE;
/*!40000 ALTER TABLE `country` DISABLE KEYS */;
/*!40000 ALTER TABLE `country` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `country_report`
--

DROP TABLE IF EXISTS `country_report`;
/*!50001 DROP VIEW IF EXISTS `country_report`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `country_report` AS SELECT 
 1 AS `Code`,
 1 AS `Name`,
 1 AS `Continent`,
 1 AS `Population`,
 1 AS `Region`,
 1 AS `Capital`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `countrylanguage`
--

DROP TABLE IF EXISTS `countrylanguage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `countrylanguage` (
  `CountryCode` char(3) NOT NULL DEFAULT '',
  `Language` char(30) NOT NULL DEFAULT '',
  `IsOfficial` enum('T','F') NOT NULL DEFAULT 'F',
  `Percentage` decimal(4,1) NOT NULL DEFAULT '0.0',
  PRIMARY KEY (`CountryCode`,`Language`),
  KEY `CountryCode` (`CountryCode`),
  CONSTRAINT `countryLanguage_ibfk_1` FOREIGN KEY (`CountryCode`) REFERENCES `country` (`Code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `countrylanguage`
--

LOCK TABLES `countrylanguage` WRITE;
/*!40000 ALTER TABLE `countrylanguage` DISABLE KEYS */;
/*!40000 ALTER TABLE `countrylanguage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `descending_capital_cities`
--

DROP TABLE IF EXISTS `descending_capital_cities`;
/*!50001 DROP VIEW IF EXISTS `descending_capital_cities`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `descending_capital_cities` AS SELECT 
 1 AS `Name`,
 1 AS `Population`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `descending_cities`
--

DROP TABLE IF EXISTS `descending_cities`;
/*!50001 DROP VIEW IF EXISTS `descending_cities`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `descending_cities` AS SELECT 
 1 AS `Name`,
 1 AS `Population`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `descending_countries`
--

DROP TABLE IF EXISTS `descending_countries`;
/*!50001 DROP VIEW IF EXISTS `descending_countries`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `descending_countries` AS SELECT 
 1 AS `Name`,
 1 AS `Population`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `europe_descending_countries`
--

DROP TABLE IF EXISTS `europe_descending_countries`;
/*!50001 DROP VIEW IF EXISTS `europe_descending_countries`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `europe_descending_countries` AS SELECT 
 1 AS `Name`,
 1 AS `Population`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `northamerica_descending_countries`
--

DROP TABLE IF EXISTS `northamerica_descending_countries`;
/*!50001 DROP VIEW IF EXISTS `northamerica_descending_countries`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `northamerica_descending_countries` AS SELECT 
 1 AS `Name`,
 1 AS `Population`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `oceania_descending_countries`
--

DROP TABLE IF EXISTS `oceania_descending_countries`;
/*!50001 DROP VIEW IF EXISTS `oceania_descending_countries`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `oceania_descending_countries` AS SELECT 
 1 AS `Name`,
 1 AS `Population`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `southamerica_descending_countries`
--

DROP TABLE IF EXISTS `southamerica_descending_countries`;
/*!50001 DROP VIEW IF EXISTS `southamerica_descending_countries`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `southamerica_descending_countries` AS SELECT 
 1 AS `Name`,
 1 AS `Population`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `africa_descending_countries`
--

/*!50001 DROP VIEW IF EXISTS `africa_descending_countries`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`SE`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `africa_descending_countries` AS select `country`.`Name` AS `Name`,`country`.`Population` AS `Population` from `country` where (`country`.`Continent` = 'Africa') order by `country`.`Population` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `antarctica_descending_countries`
--

/*!50001 DROP VIEW IF EXISTS `antarctica_descending_countries`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`SE`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `antarctica_descending_countries` AS select `country`.`Name` AS `Name`,`country`.`Population` AS `Population` from `country` where (`country`.`Continent` = 'Antarctica') order by `country`.`Population` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `asia_descending_countries`
--

/*!50001 DROP VIEW IF EXISTS `asia_descending_countries`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`SE`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `asia_descending_countries` AS select `country`.`Name` AS `Name`,`country`.`Population` AS `Population` from `country` where (`country`.`Continent` = 'Asia') order by `country`.`Population` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `capital_city_report`
--

/*!50001 DROP VIEW IF EXISTS `capital_city_report`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`SE`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `capital_city_report` AS select `c`.`Name` AS `Name`,`c`.`Population` AS `Population`,`ct`.`Name` AS `Country` from (`city` `c` join `country` `ct`) where (`c`.`CountryCode` = `ct`.`Code`) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `city_report`
--

/*!50001 DROP VIEW IF EXISTS `city_report`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`SE`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `city_report` AS select `c`.`Name` AS `Name`,`c`.`District` AS `District`,`c`.`Population` AS `Population`,`ct`.`Name` AS `Country` from (`city` `c` join `country` `ct`) where (`ct`.`Code` = `c`.`CountryCode`) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `continent_population_report`
--

/*!50001 DROP VIEW IF EXISTS `continent_population_report`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`SE`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `continent_population_report` AS select `ct`.`Continent` AS `ContinentName`,sum(`ct`.`Population`) AS `ContinentPopulation`,((sum(`c`.`Population`) / sum(`ct`.`Population`)) * 100) AS `%_of_PopulationLivingInCities`,(((sum(`ct`.`Population`) - sum(`c`.`Population`)) / sum(`ct`.`Population`)) * 100) AS `%_of_PopulationNotLivingInCities` from (`country` `ct` join `city` `c`) where (`ct`.`Code` = `c`.`CountryCode`) group by `ct`.`Continent` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `country_report`
--

/*!50001 DROP VIEW IF EXISTS `country_report`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`SE`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `country_report` AS select `country`.`Code` AS `Code`,`country`.`Name` AS `Name`,`country`.`Continent` AS `Continent`,`country`.`Population` AS `Population`,`country`.`Region` AS `Region`,`country`.`Capital` AS `Capital` from `country` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `descending_capital_cities`
--

/*!50001 DROP VIEW IF EXISTS `descending_capital_cities`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`SE`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `descending_capital_cities` AS select `c`.`Name` AS `Name`,`c`.`Population` AS `Population` from (`city` `c` join `country` `ct`) where (`c`.`ID` = `ct`.`Capital`) order by `c`.`Population` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `descending_cities`
--

/*!50001 DROP VIEW IF EXISTS `descending_cities`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`SE`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `descending_cities` AS select `city`.`Name` AS `Name`,`city`.`Population` AS `Population` from `city` order by `city`.`Population` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `descending_countries`
--

/*!50001 DROP VIEW IF EXISTS `descending_countries`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`SE`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `descending_countries` AS select `country`.`Name` AS `Name`,`country`.`Population` AS `Population` from `country` order by `country`.`Population` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `europe_descending_countries`
--

/*!50001 DROP VIEW IF EXISTS `europe_descending_countries`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`SE`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `europe_descending_countries` AS select `country`.`Name` AS `Name`,`country`.`Population` AS `Population` from `country` where (`country`.`Continent` = 'Europe') order by `country`.`Population` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `northamerica_descending_countries`
--

/*!50001 DROP VIEW IF EXISTS `northamerica_descending_countries`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`SE`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `northamerica_descending_countries` AS select `country`.`Name` AS `Name`,`country`.`Population` AS `Population` from `country` where (`country`.`Continent` = 'North America') order by `country`.`Population` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `oceania_descending_countries`
--

/*!50001 DROP VIEW IF EXISTS `oceania_descending_countries`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`SE`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `oceania_descending_countries` AS select `country`.`Name` AS `Name`,`country`.`Population` AS `Population` from `country` where (`country`.`Continent` = 'Oceania') order by `country`.`Population` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `southamerica_descending_countries`
--

/*!50001 DROP VIEW IF EXISTS `southamerica_descending_countries`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`SE`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `southamerica_descending_countries` AS select `country`.`Name` AS `Name`,`country`.`Population` AS `Population` from `country` where (`country`.`Continent` = 'South America') order by `country`.`Population` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2022-03-25 13:41:09
